<row style="display: inline-block; width: 100%;">
    <div class="large-6 columns">
     	<div class="large-12 columns">
    	    <div class="box">
    	        <div class="box-header bg-transparent">
    	            <!-- tools box -->
    	            <div class="pull-right box-tools">

    	                <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
    	                </span>
    	                <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
    	                </span>
    	            </div>
    	            <h3 class="box-title"><i class="fa fa-users"></i>
    	                <span>Cli&euml;ntegegevens</span>
    	            </h3>
    	        </div>
    	        <!-- /.box-header -->
    	        <div class="box-body " style="display: inline-block;" >
    	            <div class="large-12 columns">
    	                <div class="large-12 columns">
    	                        <h6>Factuur Betalen</h6>
    	                </div>
    	                <div class="large-12 columns">
    	                    
    	                    <div class="large-4 columns">
                            <label><strong>Bedrag:</strong></label>
    	                    	<input type="text" ng-model='payment.amount' placeholde="betaalde bedrag">
    	                    </div>
    	                    <div class="large-4 columns">
    	                        <label><strong>Betaaltype</strong></label>
    	                        <input ng-model="payment.paymenttype" type="radio" name="paymenttype" value="cash" id="cash">
    	                        <label for="cash" class='fontello-money'>Cash</label>
    	                        <input ng-model="payment.paymenttype" type="radio" name="paymenttype" value="bank" id="bank">
    	                        <label for="bank"><i class='fontello-credit-card-1'></i>Bank</label>
    	                    </div>
                            <div class="large-4 columns">
                                <label><strong>Datum</strong></label> 
                                <input type="datetime" date-time min-view="date" auto-close="true"
        view="date" maxlength="10" placeholder="Set Date" format="DD-MM-YYYY" ng-model='$parent.payment_date'>
                            </div>
    	                 	<button ng-click="payment.pay_invoice();" class="expand bg-red radius">Betalen</button>
    	                </div>
    	        	</div>
    	        <!-- end .timeline -->
    	    	</div>
    		</div>
    	</div>
            <div class="large-12 columns">
            <div class="box">
                <div class="box-header bg-transparent">
                    <!-- tools box -->
                    <div class="pull-right box-tools">

                        <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                        </span>
                        <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                        </span>
                    </div>
                    <h3 class="box-title"><i class="fa fa-users"></i>
                        <span>Betalingen</span>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="large-12 box-body " style="display: inline-block;" >
                    <div class="large-12 columns">

                        <div class="large-12 columns">
                            <table class="large-12 columns expand">
                                <tr>
                                    <th>Betaald bedrag</th>
                                    <th>Betaal Type</th>
                                    <th>Datum</th>
                                </tr>
                                <tr ng-repeat='x in payment.rows'>
                                    <td>&euro; {{x.amount}}</td>
                                    <td><i ng-if='x.type == "cash"' class='fontello-money'></i><i ng-if='x.type == "bank"' class='fontello-credit-card-1'></i>{{x.type}}</td>
                                    <td>{{x.date}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                <!-- end .timeline -->
                </div>
            </div>
        </div>
    </div>

	<div class="large-6 columns">
        <div class="large-12 box" ng-class="payment.amount <= 0 ? 'bg-green' : 'bg-red'">
            <div class="box-header bg-transparent ">
                <!-- tools box -->
                <div class="pull-right box-tools">

                    <span class="box-btn" data-widget="collapse"><i class="icon-minus"></i>
                    </span>
                    <span class="box-btn" data-widget="remove"><i class="icon-cross"></i>
                    </span>
                </div>
                <h3 class="box-title"><i class="text-white fontello-folder"></i>
                    <span class="text-white">Factuur No. {{payment.payemntinfo.invoice_alias}}</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body " style="display: block;">
                <h3 ng-if='payment.amount <= 0' class='bg-green invoicePayed'>FACTUUR IS BETAALD</h3>
                <h4 class="text-white">
                	Totaal: <span class='right'>&euro; {{payment.payemntinfo.total;}}</span>
                </h4>
                <h4 class="text-white">
                    Betaald: <span class='right'>&euro; {{payment.payed}}</span>
                </h4>
                <h4 class='bg-red'>Openstaand bedrag: <span class='right'>&euro; {{payment.amount_show}}</span></h4>
            </div>

            <!-- end .timeline -->
        </div>
        <!-- box -->
    </div>
</row>