

<div class="large-6 columns">
	<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options"
chart-dataset-override="datasetOverride" chart-click="onClick" ></canvas> 
</div>
<div class="large-6 columns">
<table>
	<tr>
		<th>Declaratienaam</th>
		<th>Info</th>
		<th>Zaak</th>
		<th>Tijd</th>
		<th>Bedrag</th>
		<th>datum</th>
	</tr>
	<tr ng-repeat='x in systemUserDetail.array'>
		<td>{{x.declaration_name}}</td>
		<td>{{x.comment}}</td>
		<td>{{x.casename}}</td>
		<td>{{x.time}}</td>
		<td>&euro; {{x.amount}}</td>
		<td>{{x.declaration_date}}</td>
	</tr>
</table>
</div>